<a href="https://colab.research.google.com/github/bvanitsthian/photocircle_nlp/blob/main/pc_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Import libraries and connect to Google Drive**

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#**Read in merged dataset with tags**

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/data.csv')

In [ ]:
data.head()

,circle_uuid,user_uuid,media_added_count_x,title,media_count,has_greek_words,real_estate_keywords,is_real_estate,solar_keywords,is_solar,...,is_location,display_name,email_domain,active_count_in_last_30_days,media_added_count_y,first_name,num_female,num_male,female_pct,is_student
0,00005962-836d-d551-c07b-5c2040500002,00000000-575c-c42a-d551-c018b1942652,96,Georgia Jean Williams,160.0,False,[],False,[],False,...,False,Darwin Williams,stthomas.edu,6.0,15.0,Darwin,83.0,24680.0,0.34,True
1,00005bfc-e475-d551-c026-3d658eab0002,4d4f4f68-feff-4490-bd45-ae90ba4acdbf,6,Tri Delta,12235.0,True,[],False,[],False,...,False,tara ghimenti,gmail.com,0.0,0.0,tara,0.0,0.0,50.00,False
2,55a82813-15c0-4faf-897d-d04803036af0,c31e9b29-bf13-4493-a017-54d531d51d7b,31,Vegas 2022,31.0,False,[],False,[],False,...,False,Brenda Yorks,privaterelay.appleid.com,0.0,0.0,Brenda,607096.0,2121.0,99.65,False
3,0000594a-f3f4-d551-c011-88e3b4ad0002,00000000-594a-f5ce-d551-c01188e3c8cb,8,WALK,587.0,False,[],False,[],False,...,False,Rebekah Farnham,gmail.com,0.0,0.0,Rebekah,73511.0,119.0,99.84,False
4,fc66e54c-8e12-4387-9579-be35b6f3d8ab,eebe45c6-66fb-4e86-9f39-c55f55d98c95,72,❤ Eric Hazen ❤,466.0,False,[],False,[],False,...,False,Cindy,live.com,0.0,0.0,Cindy,256399.0,770.0,99.70,False

In [ ]:
# replace NaN values in tag columns with False
data.fillna({'has_greek_words': False, 'is_real_estate': False, \
                    'is_solar': False, 'is_event': False, \
                    'is_occupation': False, 'is_animal': False, \
                    'is_travel': False, 'is_location': False}, inplace=True)

In [ ]:
data.head(3)

,circle_uuid,user_uuid,media_added_count_x,title,media_count,has_greek_words,real_estate_keywords,is_real_estate,solar_keywords,is_solar,...,is_location,display_name,email_domain,active_count_in_last_30_days,media_added_count_y,first_name,num_female,num_male,female_pct,is_student
0,00005962-836d-d551-c07b-5c2040500002,00000000-575c-c42a-d551-c018b1942652,96,Georgia Jean Williams,160.0,False,[],False,[],False,...,False,Darwin Williams,stthomas.edu,6.0,15.0,Darwin,83.0,24680.0,0.34,True
1,00005bfc-e475-d551-c026-3d658eab0002,4d4f4f68-feff-4490-bd45-ae90ba4acdbf,6,Tri Delta,12235.0,True,[],False,[],False,...,False,tara ghimenti,gmail.com,0.0,0.0,tara,0.0,0.0,50.00,False
2,55a82813-15c0-4faf-897d-d04803036af0,c31e9b29-bf13-4493-a017-54d531d51d7b,31,Vegas 2022,31.0,False,[],False,[],False,...,False,Brenda Yorks,privaterelay.appleid.com,0.0,0.0,Brenda,607096.0,2121.0,99.65,False

#**App Users Activity in the last 30 days**

In [ ]:
len(data.loc[data['active_count_in_last_30_days'] < 10 ]['user_uuid'].unique())

3665363

In [ ]:
len(data.loc[data['active_count_in_last_30_days'].between(10,19)]['user_uuid'].unique())

72383

In [ ]:
len(data.loc[data['active_count_in_last_30_days'].between(20,29)]['user_uuid'].unique())

21683

In [ ]:
len(data.loc[data['active_count_in_last_30_days']==30]['user_uuid'].unique())

3061

In [ ]:
len(data['user_uuid'].unique())

3762492

In [ ]:
len(data.loc[data['active_count_in_last_30_days'].between(15,30)]['user_uuid'].unique())

48604

#**Who is most active**

In [ ]:
# total unique users
len(data['user_uuid'].unique())

3762492

In [ ]:
# total users who are women
len(data[data['num_female'] > 50]['user_uuid'].unique())

3076311

In [ ]:
# total users who are men
len(data[data['num_female'] < 50]['user_uuid'].unique())

685607

In [ ]:
# total users with unknown display name or 'other'
len(data[data['num_female'] == 50]['user_uuid'].unique())

574

In [ ]:
# total users who are active between 20-30 days in the last 30 days
len(data.loc[data['active_count_in_last_30_days'] \
                    .between(20,30)]['user_uuid'].unique())

24744

In [ ]:
# total female users who are active between 20-30 days in the last 30 days
len(data.loc[(data['active_count_in_last_30_days'].between(20,30)) & \
                (data['female_pct'] > 50)]['user_uuid'].unique())

15893

In [ ]:
# Active female % total
round(15893/24744*100,2)

64.23

In [ ]:
# total male users who are active between 20-30 days in the last 30 days
len(data.loc[(data['active_count_in_last_30_days'].between(20,30)) & \
                (data['female_pct'] < 50)]['user_uuid'].unique())

5217

In [ ]:
# Active male % total
round(5217/24744*100,2)

21.08

In [ ]:
# total unknown gender users who are active between 20-30 days in the last 30 days
len(data.loc[(data['active_count_in_last_30_days'].between(20,30)) & \
                (data['female_pct'] == 50)]['user_uuid'].unique())

3634

In [ ]:
# Active 'other' % total
round(3634/24744*100,2)

14.69



> **Active Female Users Analysis**

In [ ]:
# subset total female users who are active between 20-30 days in the last 30 days
active_female = data[(data['active_count_in_last_30_days'].between(20,30)) & \
                (data['female_pct'] > 50)]

In [ ]:
data[(data['active_count_in_last_30_days'].between(20,30)) & \
                (data['female_pct'] > 50)].shape

(180176, 29)


> **Rank frequency of each word in active_female**

In [ ]:
pd.set_option('display.max_rows', 200)

In [ ]:
# Combine all titles into a single string
title_str = ' '.join(active_female['title'].astype(str).tolist())

# Split the string into individual words
words = title_str.lower().split()

# Count the frequency of each word and create a DataFrame with the results
word_counts = pd.DataFrame(words, columns=['word']).value_counts().reset_index(name='count')

# Add a rank column to the DataFrame
word_counts['rank'] = word_counts['count'].rank(ascending=False)

In [ ]:
word_counts.head(20)

         word  count  rank
0        2022   9556   1.0
1           &   8828   2.0
2         and   6061   3.0
3        2021   5881   4.0
4         the   5015   5.0
5        2023   5000   6.0
6      family   4703   7.0
7        2019   4068   8.0
8           -   3485   9.0
9        2020   3416  10.0
10    wedding   3105  11.0
11       2018   2895  12.0
12  christmas   2832  13.0
13       trip   2742  14.0
14   birthday   2609  15.0
15     spring   2581  16.0
16        day   2528  17.0
17         of   2521  18.0
18       baby   2499  19.0
19       fall   2187  20.0



> **Active Male Users Analysis**

In [ ]:
# subset total female users who are active between 20-30 days in the last 30 days
active_male = data[(data['active_count_in_last_30_days'].between(20,30)) & \
                (data['female_pct'] < 50)]

In [ ]:
data[(data['active_count_in_last_30_days'].between(20,30)) & \
                (data['female_pct'] < 50)].shape

(142861, 29)


> **Rank frequency of each word in active_male**

In [ ]:
# Combine all titles into a single string
title_str = ' '.join(active_male['title'].astype(str).tolist())

# Split the string into individual words
words1 = title_str.lower().split()

# Count the frequency of each word and create a DataFrame with the results
word_counts1 = pd.DataFrame(words1, columns=['word']).value_counts().reset_index(name='count')

# Add a rank column to the DataFrame
word_counts1['rank'] = word_counts1['count'].rank(ascending=False)

In [ ]:
word_counts1.head(20)

       word  count  rank
0         -   6163   1.0
1      2022   3175   2.0
2         &   3081   3.0
3   install   3026   4.0
4       and   2358   5.0
5      2021   2142   6.0
6       the   2032   7.0
7       o&m   1905   8.0
8    family   1683   9.0
9        sr   1579  10.0
10     2019   1484  11.0
11     2023   1425  12.0
12       ct   1399  13.0
13     2020   1253  14.0
14       ca   1247  15.5
15  michael   1247  15.5
16    david   1195  17.0
17      job   1112  18.0
18       st   1078  19.0
19     john   1042  20.0

#**Greek words analysis**

In [ ]:
len(data[ (data['has_greek_words']) & (data['female_pct']>50)]['user_uuid'].unique()) # female Greek members

240233

In [ ]:
len(data[data['has_greek_words']]['circle_uuid'].unique()) # total unique Greek circles

9439

In [ ]:
len(data[data['has_greek_words']]['user_uuid'].unique()) # total unique Greek members

309184

In [ ]:
len(data['user_uuid'].unique()) # total unique users

3762492

In [ ]:
3762492-309184 # total non Greek members

3453308

In [ ]:
round(240233/309184*100,2) # % female sorority users

77.7

In [ ]:
len(data[data['has_greek_words']]['user_uuid'].unique())/len(data['user_uuid'].unique())*100 # % Greek users

8.217532422660302

In [ ]:
len(data[data['has_greek_words']]['circle_uuid'].unique())/len(data['circle_uuid'].unique())*100 # % Greek circles

0.46211005944912015

In [ ]:
data[data['has_greek_words']]['media_added_count_x'].sum() #Total Greek circles media contributions

12240969

In [ ]:
data['media_added_count_x'].sum()

341813280

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
data.head(2)

,circle_uuid,user_uuid,media_added_count_x,title,media_count,has_greek_words,real_estate_keywords,is_real_estate,solar_keywords,is_solar,event_keywords,is_event,occupation_keywords,is_occupation,animal_keywords,is_animal,destination_names,is_travel,location_names,is_location,display_name,email_domain,active_count_in_last_30_days,media_added_count_y,first_name,num_female,num_male,female_pct,is_student
0,00005962-836d-d551-c07b-5c2040500002,00000000-575c-c42a-d551-c018b1942652,96,Georgia Jean Williams,160.0,False,[],False,[],False,[],False,[],False,[],False,Georgia Jean Williams,False,Georgia Jean Williams,False,Darwin Williams,stthomas.edu,6.0,15.0,Darwin,83.0,24680.0,0.34,True
1,00005bfc-e475-d551-c026-3d658eab0002,4d4f4f68-feff-4490-bd45-ae90ba4acdbf,6,Tri Delta,12235.0,True,[],False,[],False,[],False,[],False,[],False,Tri Delta,False,Tri Delta,False,tara ghimenti,gmail.com,0.0,0.0,tara,0.0,0.0,50.00,False

In [ ]:
len(data.loc[data['has_greek_words']].sort_values(['active_count_in_last_30_days','media_added_count_y'], ascending=False))

414329

In [ ]:
len(data.loc[(data['has_greek_words']) & (data['active_count_in_last_30_days'] < 10)] \
    ['user_uuid'].unique())

286527

In [ ]:
len(data.loc[(data['has_greek_words']) & (data['active_count_in_last_30_days'].between(10,19))] \
    ['user_uuid'].unique())

18276

In [ ]:
len(data.loc[(data['has_greek_words']) & (data['active_count_in_last_30_days'].between(20,29))] \
    ['user_uuid'].unique())

4208

In [ ]:
len(data.loc[(data['has_greek_words']) & (data['active_count_in_last_30_days']==30)] \
    ['user_uuid'].unique())

173

In [ ]:
data.loc[data['has_greek_words']].sort_values('media_added_count_x', ascending=False).head(20)

,circle_uuid,user_uuid,media_added_count_x,title,media_count,has_greek_words,real_estate_keywords,is_real_estate,solar_keywords,is_solar,event_keywords,is_event,occupation_keywords,is_occupation,animal_keywords,is_animal,destination_names,is_travel,location_names,is_location,display_name,email_domain,active_count_in_last_30_days,media_added_count_y,first_name,num_female,num_male,female_pct,is_student
632733,00005c38-e12b-d551-c026-3d6e67ca0002,066dbb00-f7d1-4724-804c-9e920c465f99,13442,Alpha Gam,30146.0,True,[],False,[],False,[],False,[],False,[],False,Alpha Gam,False,Alpha Gam,False,Abby Milam,gmail.com,21.0,2737.0,Abby,58236.0,181.0,99.69,False
4543803,dfcbd933-3564-47e7-abb9-c9d4fa925dab,9b881f11-62c0-444a-b41d-506a7fe3e327,8444,Kappa Delta Zeta Alpha,15731.0,True,[],False,[],False,[],False,[],False,[],False,Kappa Delta Zeta Alpha,False,Kappa Delta Zeta Alpha,False,Kappa Delta,gmail.com,1.0,0.0,Kappa,0.0,0.0,50.00,False
3172562,1f3954fb-6694-430c-8168-228c7a92bb81,18dd4f5c-3683-4c53-9903-70c8c856d51a,7923,Kappa Delta 2022,10924.0,True,[],False,[],False,[],False,[],False,[],False,Kappa Delta,False,Kappa Delta,False,Emma Short,gmail.com,26.0,3110.0,Emma,672893.0,1626.0,99.76,False
4220424,00005c01-58f2-d551-c026-3d90a87a0002,e9534310-b748-414f-ae4a-e247fa3f87da,6802,ZTA Nu 2018-2019,33652.0,True,[],False,[],False,[],False,[],False,[],False,Nu,False,Nu,False,Carly Richards,crimson.ua.edu,0.0,0.0,Carly,63699.0,160.0,99.75,True
1349946,00005c29-28fb-d551-c026-3dab0de00002,00000000-5c29-46b7-d551-c0263dad646d,6730,TRI DELTA,40821.0,True,[],False,[],False,[],False,[],False,[],False,NaN,False,NaN,False,Julia Clark,comcast.net,0.0,0.0,Julia,459021.0,1737.0,99.62,False
5198008,d37c67f1-aee5-4463-a29e-76d95ba79c78,68c8934f-bab4-4667-a8e7-2a86da38ad85,6676,Phi Delta Theta (no Memes Plz),7418.0,True,[],False,[],False,[],False,[],False,[],False,Phi Delta Theta,False,Phi Delta Theta,False,Themba Nsubuga,privaterelay.appleid.com,10.0,1751.0,Themba,0.0,5.0,0.00,False
466193,000056ac-1bfc-8cff-961b-e32764590002,00000000-53c3-f3d4-3dab-0506e1225c45,6093,Anh Khue & Chi Duong's Kids,8064.0,True,[],False,[],False,[],False,[],False,[],False,Anh Khue,False,Anh Khue,False,Mai Vu,hotmail.com,0.0,0.0,Mai,5308.0,20.0,99.62,False
6517959,5ec7bf0a-e3b2-42d7-ba6e-58c9b9069bca,02f3e9f9-ab92-43ff-91cb-fcf7b4e764f9,6062,Pi Kap,6077.0,True,[],False,[],False,[],False,[],False,[],False,Pi Kap,False,Pi Kap,False,Antonio Jak,hotmail.com,0.0,0.0,Antonio,1975.0,247925.0,0.79,False
4979916,657a4da7-e7d9-455c-ae4b-7a23c584a836,d0e59b65-d26c-4018-9748-130492d87ef5,5278,KD Theta Pi 2022,14491.0,True,[],False,[],False,[],False,[],False,[],False,Theta Pi,False,Theta Pi,False,Niky Li,gmail.com,20.0,1040.0,Niky,0.0,0.0,50.00,False
5682632,00005c14-2c98-d551-c026-3d86f0c70002,00000000-5c3c-fa01-d551-c0263da8b003,5233,CHI OMEGA,35904.0,True,[],False,[],False,[],False,[],False,[],False,NaN,False,NaN,False,Darcey Drullinger,gmail.com,0.0,0.0,Darcey,1982.0,94.0,95.47,False
2365692,00005c29-28fb-d551-c026-3dab0de00002,00000000-5d89-208c-f8d1-c149e2c4b701,5108,TRI DELTA,40821.0,True,[],False,[],False,[],False,[],False,[],False,NaN,False,NaN,False,Caroline Bacon,gmail.com,3.0,0.0,Caroline,228558.0,308.0,99.87,False
7310649,00005c01-58f2-d551-c026-3d90a87a0002,c7b385b0-32c4-47ea-8d0f-655377ff16ae,5081,ZTA Nu 2018-2019,33652.0,True,[],False,[],False,[],False,[],False,[],False,Nu,False,Nu,False,Grace Calton,crimson.ua.edu,0.0,0.0,Grace,497009.0,1341.0,99.73,True
435037,12f15317-94a8-4768-8cbc-04c70d3ae702,ed47df2b-6c38-4a66-8934-c439bbf0fb42,5075,BETA XI tri delta,10323.0,True,[],False,[],False,[],False,[],False,[],False,tri,False,tri,False,Paige Williams,privaterelay.appleid.com,0.0,0.0,Paige,139506.0,1335.0,99.05,False
247098,9dc9b44e-4e43-4b9a-9805-915200a40ef9,5ec76f61-3e72-4805-b417-917e1a294b54,4385,AST Beta Eta,11540.0,True,[],False,[],False,[],False,[],False,[],False,Beta Eta,False,Beta Eta,False,Madeline James,siue.edu,6.0,0.0,Madeline,187472.0,245.0,99.87,True
4387741,25d386d0-1219-4e09-ad7a-39cad78ae3da,aaea4bed-f9cb-469c-91b6-a8a137d538c8,4359,Chi O Millsaps,10027.0,True,[],False,[],False,[],False,[],False,[],False,Chi,False,Chi,False,Chi O Millsaps,gmail.com,22.0,369.0,Chi,614.0,476.0,56.33,False
3280183,00005c14-2c98-d551-c026-3d86f0c70002,00000000-5ca4-d0ba-d551-c01e578770d2,4281,CHI OMEGA,35904.0,True,[],False,[],False,[],False,[],False,[],False,NaN,False,NaN,False,Macey Drullinger,gmail.com,0.0,0.0,Macey,10566.0,51.0,99.52,False
3328160,fc3d7981-7832-40a7-8238-6e77a0827179,290606dc-2360-4eee-9b01-79c33a085516,4277,Theta,18353.0,True,[],False,[],False,[],False,[],False,[],False,Theta,False,Theta,False,Sophia Garofalo,gmail.com,20.0,1301.0,Sophia,350103.0,440.0,99.87,False
1059807,00005e3d-9625-78bb-8958-02f727020002,e3f9879a-55ec-48ae-85cd-a4f27b87837b,4171,Pi Beta Phi,21871.0,True,[],False,[],False,[],False,[],False,[],False,Pi Beta Phi,False,Pi Beta Phi,False,Anna Philpot,comcast.net,11.0,940.0,Anna,892785.0,2746.0,99.69,False
4889912,00005e3d-9625-78bb-8958-02f727020002,b7048864-020f-43d5-9c9c-8c1416bf4ef0,4157,Pi Beta Phi,21871.0,True,[],False,[],False,[],False,[],False,[],False,Pi Beta Phi,False,Pi Beta Phi,False,Payton Dedeaux,bellsouth.net,2.0,100.0,Payton,52437.0,23719.0,68.85,False
3882210,b89c0ab9-feb1-4bbb-948f-a62fe1a1235f,f9dae5e1-6b4d-41fe-99f9-16078dc0f159,3985,Phi mu bitches,9681.0,True,[],False,[],False,[],False,[],False,[],False,Phi,False,Phi,False,Catherine Jones,gmail.com,9.0,468.0,Catherine,660366.0,1823.0,99.72,False

In [ ]:
data.loc[data['has_greek_words'].notnull() & data['has_greek_words']] \
  [['first_name','media_added_count_x']] \
  .sort_values(by = 'media_added_count_x', ascending=False) \
  .head(10)

        first_name  media_added_count_x
632733        Abby                13442
4543803      Kappa                 8444
3172562       Emma                 7923
4220424      Carly                 6802
1349946      Julia                 6730
5198008     Themba                 6676
466193         Mai                 6093
6517959    Antonio                 6062
4979916       Niky                 5278
5682632     Darcey                 5233

In [ ]:
data.loc[data['has_greek_words'].notnull() & data['has_greek_words']] \
  .groupby('title')['media_added_count_x'] \
  .agg('sum') \
  .sort_values(ascending=False) \
  .head(10)

title
Alpha Phi            207110
Kappa Delta          165351
Alpha Chi Omega      108826
Gamma Phi Beta       108436
Alpha Delta Pi        99205
Pi Beta Phi           97134
Alpha Gamma Delta     84750
Tri Delta             83768
Chi Omega             77808
Delta Gamma           76715
Name: media_added_count_x, dtype: int64

In [ ]:
# data.to_csv('/content/drive/MyDrive/data.csv', index=False)

#**Real Estate words analysis**

In [ ]:
len(data[ (data['is_real_estate']) & (data['female_pct']>50)]['user_uuid'].unique()) # female real estate members

3374

In [ ]:
len(data[data['is_real_estate']]['circle_uuid'].unique()) # total unique real estate circles

1103

In [ ]:
len(data[data['is_real_estate']]['user_uuid'].unique()) # total unique real estate members

5075

In [ ]:
len(data['user_uuid'].unique()) # total unique users

3762492

In [ ]:
3762492-5075 # total non real estate members

3757417

In [ ]:
round(3374/5075*100,2) # % female real estate users

66.48

In [ ]:
len(data[data['is_real_estate']]['user_uuid'].unique())/len(data['user_uuid'].unique())*100 # % real estate users

0.13488400772679385

In [ ]:
len(data[data['is_real_estate']]['circle_uuid'].unique())/len(data['circle_uuid'].unique())*100 # % real estate circles

0.05400014785171941

In [ ]:
data[data['is_real_estate']]['media_added_count_x'].sum() # Total real estate circles media contributions

141542

In [ ]:
data['media_added_count_x'].sum() # Total media contributions

341813280

In [ ]:
341813280-141542 # Total non real estate media contributions

341671738

In [ ]:
round(141542/341813280*100,2) # % total real estate circles media contributions

0.04

In [ ]:
len(data.loc[data['is_real_estate']].sort_values(['active_count_in_last_30_days','media_added_count_y'], ascending=False))

5463

In [ ]:
len(data.loc[(data['is_real_estate']) & (data['active_count_in_last_30_days'] < 10)] \
    ['user_uuid'].unique())

4516

In [ ]:
len(data.loc[(data['is_real_estate']) & (data['active_count_in_last_30_days'].between(10,19))] \
    ['user_uuid'].unique())

388

In [ ]:
len(data.loc[(data['is_real_estate']) & (data['active_count_in_last_30_days'].between(20,29))] \
    ['user_uuid'].unique())

155

In [ ]:
len(data.loc[(data['is_real_estate']) & (data['active_count_in_last_30_days']==30)] \
    ['user_uuid'].unique())

16

In [ ]:
data.loc[data['is_real_estate']].sort_values('media_added_count_x', ascending=False).head(5)

,circle_uuid,user_uuid,media_added_count_x,title,media_count,has_greek_words,real_estate_keywords,is_real_estate,solar_keywords,is_solar,event_keywords,is_event,occupation_keywords,is_occupation,animal_keywords,is_animal,destination_names,is_travel,location_names,is_location,display_name,email_domain,active_count_in_last_30_days,media_added_count_y,first_name,num_female,num_male,female_pct,is_student
6023734,000059ad-df3e-d551-c013-42bb81a00002,00000000-53b5-cdaa-3dab-0506e1e959c0,1326,six floor hunnies,1940.0,False,['floor'],True,[],False,[],False,[],False,[],False,six,False,six,False,Alexandra Martin,gmail.com,10.0,228.0,Alexandra,233781.0,859.0,99.63,False
1261788,00005d3c-f912-f8d1-c143-ea749de40002,00000000-558f-42d5-9577-9c042429d326,1214,Boat build,1219.0,False,['build'],True,[],False,[],False,[],False,[],False,Boat,False,Boat,False,Frank Rodriguez,bellsouth.net,29.0,260.0,Frank,4611.0,911169.0,0.50,False
7659363,2435b5d0-7982-4822-976b-18d12357b338,a0cb5dda-80d8-4659-8f81-24cce6582e2b,1134,In da house,1246.0,False,['house'],True,[],False,[],False,[],False,[],False,In,False,In,False,KayBob MomPants,gmail.com,0.0,0.0,KayBob,0.0,0.0,50.00,False
3823601,00005aad-52cc-d551-c00b-260d2f820002,00000000-59f4-9285-d551-c060463c81e5,1112,packing house,1112.0,False,['house'],True,[],False,[],False,[],False,[],False,packing,False,packing,False,Jackie Zhang,yahoo.com,1.0,0.0,Jackie,90705.0,78494.0,53.61,False
1903750,5da0ed9d-5a66-4cd7-aa36-c726bb0bf65a,897596fb-2cbb-4350-b8af-115f1be0fef6,1091,Ireland’s ATA In-house Tournament,1120.0,False,['house'],True,[],False,[],False,[],False,[],False,Ireland,False,Ireland,False,Kim Schwab,gmail.com,7.0,124.0,Kim,179526.0,34879.0,83.73,False

#**Solar words analysis**

In [ ]:
len(data[ (data['is_solar']) & (data['female_pct']>50)]['user_uuid'].unique()) # female solar users

180

In [ ]:
len(data[data['is_solar']]['circle_uuid'].unique()) # total unique solar circles

114

In [ ]:
len(data[data['is_solar']]['user_uuid'].unique()) # total unique solar users

355

In [ ]:
len(data['user_uuid'].unique()) # total unique users

3762492

In [ ]:
3762492-355 # total non solar users

3762137

In [ ]:
round(180/355*100,2) # % female solar users

50.7

In [ ]:
len(data[data['is_solar']]['user_uuid'].unique())/len(data['user_uuid'].unique())*100 # % solar users

0.009435236008475234

In [ ]:
len(data[data['is_solar']]['circle_uuid'].unique())/len(data['circle_uuid'].unique())*100 # % solar circles

0.005581157620213974

In [ ]:
data[data['is_solar']]['media_added_count_x'].sum() # Total solar circles media contributions

9462

In [ ]:
data['media_added_count_x'].sum() # Total media contributions

341813280

In [ ]:
341813280-9462 # Total non solar media contributions

341803818

In [ ]:
round(9462/341813280*100,2) # % total solar circles media contributions

0.0

In [ ]:
len(data.loc[data['is_solar']].sort_values(['active_count_in_last_30_days','media_added_count_y'], ascending=False))

382

In [ ]:
len(data.loc[(data['is_solar']) & (data['active_count_in_last_30_days'] < 10)] \
    ['user_uuid'].unique())

309

In [ ]:
len(data.loc[(data['is_solar']) & (data['active_count_in_last_30_days'].between(10,19))] \
    ['user_uuid'].unique())

27

In [ ]:
len(data.loc[(data['is_solar']) & (data['active_count_in_last_30_days'].between(20,29))] \
    ['user_uuid'].unique())

18

In [ ]:
len(data.loc[(data['is_solar']) & (data['active_count_in_last_30_days']==30)] \
    ['user_uuid'].unique())

1

In [ ]:
data.loc[data['is_solar']].sort_values('media_added_count_x', ascending=False).head(5)

,circle_uuid,user_uuid,media_added_count_x,title,media_count,has_greek_words,real_estate_keywords,is_real_estate,solar_keywords,is_solar,event_keywords,is_event,occupation_keywords,is_occupation,animal_keywords,is_animal,destination_names,is_travel,location_names,is_location,display_name,email_domain,active_count_in_last_30_days,media_added_count_y,first_name,num_female,num_male,female_pct,is_student
1606351,00005cab-6460-d551-c055-79a74f100002,00000000-5921-ee11-d551-c01e660c26f7,603,capri-sun ⛵️,603.0,False,[],False,['sun'],True,[],False,[],False,[],False,capri,False,capri,False,Sahar Yazdani,yahoo.com,0.0,0.0,Sahar,2110.0,23.0,98.92,False
7543820,00005a76-8e6c-d551-c00b-26f0063a0002,00000000-57df-e3bc-d551-c018b10660a5,434,"sun, moon, and skies",434.0,False,[],False,['sun'],True,[],False,[],False,[],False,sun,False,sun,False,emily mclaughlin,yahoo.com,2.0,0.0,emily,0.0,0.0,50.00,False
3786775,aca7da47-12af-4e5b-b467-5adc08aa351e,00000000-5cd6-2355-9373-7468041e4042,403,SC/NC off the grid,450.0,False,[],False,['grid'],True,[],False,[],False,[],False,off,False,off,False,holly douglas,icloud.com,0.0,0.0,holly,0.0,0.0,50.00,False
4275907,478a5047-f9b0-4048-9a51-f4ff68472cef,1c31da78-e4ea-4ec5-95f6-4e2b0550f3e2,387,tridelt ig grid,609.0,False,[],False,['grid'],True,[],False,[],False,[],False,tridelt,False,tridelt,False,Julia Panyard,yahoo.com,19.0,421.0,Julia,459021.0,1737.0,99.62,False
372227,a9ac2e38-dfff-45ef-a550-0024fb10e249,00000000-5d6e-b937-f8d1-c13053256ada,340,Sardinia with the girls power,560.0,False,[],False,['power'],True,[],False,[],False,[],False,Sardinia,False,Sardinia,False,Tiffany Bloch,hotmail.com,1.0,0.0,Tiffany,336540.0,1191.0,99.65,False

# **Travel words analysis**

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
data.head(2)

,circle_uuid,user_uuid,media_added_count_x,title,media_count,has_greek_words,real_estate_keywords,is_real_estate,solar_keywords,is_solar,event_keywords,is_event,occupation_keywords,is_occupation,animal_keywords,is_animal,destination_names,is_travel,location_names,is_location,display_name,email_domain,active_count_in_last_30_days,media_added_count_y,first_name,num_female,num_male,female_pct,is_student
0,00005962-836d-d551-c07b-5c2040500002,00000000-575c-c42a-d551-c018b1942652,96,Georgia Jean Williams,160.0,False,[],False,[],False,[],False,[],False,[],False,Georgia Jean Williams,False,Georgia Jean Williams,False,Darwin Williams,stthomas.edu,6.0,15.0,Darwin,83.0,24680.0,0.34,True
1,00005bfc-e475-d551-c026-3d658eab0002,4d4f4f68-feff-4490-bd45-ae90ba4acdbf,6,Tri Delta,12235.0,True,[],False,[],False,[],False,[],False,[],False,Tri Delta,False,Tri Delta,False,tara ghimenti,gmail.com,0.0,0.0,tara,0.0,0.0,50.00,False

In [ ]:
len(data[ (data['destination_names'].notna()) & (data['female_pct']>50)]['user_uuid'].unique()) # female travel users

2053836

In [ ]:
len(data[data['destination_names'].notna()]['user_uuid'].unique()) # total unique travel users

3345312

In [ ]:
len(data[data['destination_names'].notna()]['circle_uuid'].unique()) # total unique travel circles

1681235

In [ ]:
len(data['circle_uuid'].unique()) # total unique circles

2042587

In [ ]:
len(data['user_uuid'].unique()) # total unique users

3762492

In [ ]:
2042587-1681235 # non travel circles

361352

In [ ]:
3762492-3345312 # total non travel users

417180

In [ ]:
round(2053836/3345312*100,2) # % female travel users

61.39

In [ ]:
len(data[data['destination_names'].notna()]['user_uuid'].unique())/len(data['user_uuid'].unique())*100 # % travel users

88.91213589291353

In [ ]:
len(data[data['destination_names'].notna()]['circle_uuid'].unique())/len(data['circle_uuid'].unique())*100 # % travel circles

82.30910115456527

In [ ]:
data[data['destination_names'].notna()]['media_added_count_x'].sum() # Total travel circles media contributions

301739352

In [ ]:
data['media_added_count_x'].sum() # Total media contributions

341813280

In [ ]:
341813280-301739352 # Total non travel media contributions

40073928

In [ ]:
round(301739352/341813280*100,2) # % total travel circles media contributions

88.28

In [ ]:
len(data.loc[data['destination_names'].notna()].sort_values(['active_count_in_last_30_days','media_added_count_y'], ascending=False))

8989391

In [ ]:
len(data[(data['destination_names'].notna()) & (data['active_count_in_last_30_days'] < 10)] \
    ['user_uuid'].unique())

3255902

In [ ]:
len(data.loc[(data['destination_names'].notna()) & (data['active_count_in_last_30_days'].between(10,19))] \
    ['user_uuid'].unique())

65924

In [ ]:
len(data.loc[(data['destination_names'].notna()) & (data['active_count_in_last_30_days'].between(20,29))] \
    ['user_uuid'].unique())

20491

In [ ]:
len(data.loc[(data['destination_names'].notna()) & (data['active_count_in_last_30_days']==30)] \
    ['user_uuid'].unique())

2993

In [ ]:
data.loc[data['destination_names'].notna()].sort_values('media_added_count_x', ascending=False).head(5)

,circle_uuid,user_uuid,media_added_count_x,title,media_count,has_greek_words,real_estate_keywords,is_real_estate,solar_keywords,is_solar,event_keywords,is_event,occupation_keywords,is_occupation,animal_keywords,is_animal,destination_names,is_travel,location_names,is_location,display_name,email_domain,active_count_in_last_30_days,media_added_count_y,first_name,num_female,num_male,female_pct,is_student
4059898,0000520f-d8b2-a02c-7439-1f0788c10002,00000000-51ec-4b44-a02c-740f685c75a4,42008,Photo Album,42237.0,False,[],False,[],False,[],False,[],False,[],False,Photo Album,False,Photo Album,False,Brittney Dominick,gmail.com,1.0,0.0,Brittney,81890.0,265.0,99.68,False
1800619,00005da2-a5f2-f8d1-c16b-4a7774e80002,00000000-5da0-98e3-f8d1-c16b4a395142,37669,Lewiston Loads,43500.0,False,[],False,[],False,[],False,[],False,[],False,Lewiston Loads,False,Lewiston Loads,False,Reddick reddick.white@pe,perdue.com,0.0,0.0,Reddick,0.0,31.0,0.00,False
3785555,000059af-910b-d551-c013-42cdb4480002,00000000-5529-4a94-3901-68373b74d007,36552,Okinawa!,42161.0,False,[],False,[],False,[],False,[],False,[],False,Okinawa,False,Okinawa,False,Yuki Wilson,gmail.com,0.0,0.0,Yuki,887.0,488.0,64.51,False
5294253,000056c6-b9c2-8cff-9668-ee937af80002,00000000-51fc-77ee-a02c-746ec84a3f9c,35973,Austin Jameson,42898.0,False,[],False,[],False,[],False,[],False,[],False,Austin Jameson,False,Austin Jameson,False,Janet Lor,gmail.com,0.0,0.0,Janet,556088.0,1517.0,99.73,False
1897498,000057af-b679-d551-c018-b1832b9b0002,00000000-571c-db9d-d551-c04cb204f94e,35494,Avery Grace🎀,38685.0,False,[],False,[],False,[],False,[],False,[],False,Avery Grace,False,Avery Grace,False,Alicia Sigman,aol.com,26.0,384.0,Alicia,225616.0,707.0,99.69,False

In [ ]:
data.loc[data['destination_names'].notna()] \
  [['first_name','media_added_count_x']] \
  .sort_values(by = 'media_added_count_x', ascending=False) \
  .head(10)

        first_name  media_added_count_x
4059898   Brittney                42008
1800619    Reddick                37669
3785555       Yuki                36552
5294253      Janet                35973
1897498     Alicia                35494
5731536    Brianne                33848
6399207      Skiah                28368
185241      Jordan                26395
4640200      Casey                24746
3851547    Clarice                24502

In [ ]:
data.loc[data['destination_names'].notna()] \
  .groupby('title')['media_added_count_x'] \
  .agg('sum') \
  .sort_values(ascending=False) \
  .head(10)

title
Family            1269268
Hawaii             379631
Photos             318354
Italy              261901
Me                 245182
Honeymoon          244974
My Photos          235374
Family             224929
Christmas 2022     219954
Costa Rica         208924
Name: media_added_count_x, dtype: int64

#**Words Analysis for Year in Circle Titles**

In [ ]:
!pip install spacy
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('omw')
import re
import regex
import spacy
from IPython.display import display
from nltk.tokenize import word_tokenize
from nltk.tag import pos_tag
from nltk.chunk import ne_chunk

In [ ]:
my_list = ['2022', '2019', '2021', '2018', '2020', '2017', '2016', '2023', '2015', '2014', 'year', '22', 'years']
title_matches = data[data['title'].notna() & data['title'].str.contains('|'.join(map(str, my_list)))][['title']].reset_index(drop=True)
title_matches.head()

                            title
0                      Vegas 2022
1                  NYC! Trip 2019
2  First Week Of School 2022-2023
3                Reniassance 2019
4             Bahamas Cruise-2016

In [ ]:
travel_tags = ['NN', 'NNS', 'NNP', 'NNPS', 'JJ']

travel_words = [
    'travel', 'trip', 'tour', 'vacation', 'adventure',
    'journey', 'expedition', 'cruise', 'getaway', 'holiday',
    'exploration', 'pilgrimage', 'excursion', 'voyage', 'itinerary',
    'destination', 'wanderlust', 'safari', 'trek', 'backpacking',
    'camping', 'road trip', 'beach', 'mountains', 'island',
    'city break', 'culture', 'history', 'architecture', 'food',
    'wine', 'beer', 'festivals', 'music', 'art', 'nature', 'wildlife'
]

pattern = r'(\b[A-Z][a-z]+(?:[ -][A-Z][a-z]+)*\b|\b[a-z]+(?:[ -][A-Z][a-z]+)*\b)'

title_matches['destination_names'] = title_matches['title'].str.extract(pattern, expand=False)

def is_travel(title):
    destination_names = re.findall(pattern, title)
    for name in destination_names:
        tokens = nltk.word_tokenize(name)
        pos_tags = nltk.pos_tag(tokens)
        if any(tag in travel_tags and (word in travel_words or 'travel' in word) for word, tag in pos_tags):
            return True
    return False

title_matches['is_travel'] = title_matches['title'].apply(is_travel)

In [ ]:
len(title_matches[title_matches['destination_names'].notna()])/len(title_matches)

0.8536548532819757

In [ ]:
event_tags = ['NN', 'NNS', 'NNP', 'NNPS', 'JJ', 'VB', 'VBD', 'VBG', 'VBN', 'VBP', 'VBZ']

event_words = ['event', 'concert', 'festival', 'performance', 'show', 'party', 'celebration', 'ceremony', 'gala', 'conference', 'holiday']

pattern = r'\b(?:%s)\b' % '|'.join(event_words)

title_matches['event_keywords'] = title_matches['title'].str.findall(pattern, flags=re.IGNORECASE)

def is_event(title):
    keywords = re.findall(pattern, title, flags=re.IGNORECASE)
    tokens = nltk.word_tokenize(title)
    pos_tags = nltk.pos_tag(tokens)
    if any(tag in event_tags and (word in event_words) for word, tag in pos_tags):
        return True
    elif any(word in event_words for word in keywords):
        return True
    return False

title_matches['is_event'] = title_matches['title'].apply(is_event)

In [ ]:
title_matches.head()

,title,destination_names,is_travel,event_keywords,is_event
0,Vegas 2022,Vegas,False,[],False
1,NYC! Trip 2019,Trip,False,[],False
2,First Week Of School 2022-2023,First Week Of School,False,[],False
3,Reniassance 2019,Reniassance,False,[],False
4,Bahamas Cruise-2016,Bahamas Cruise,False,[],False

In [ ]:
title_matches[title_matches['is_event']]

,title,destination_names,is_travel,event_keywords,is_event
1449,Once Upon a Time in Hollywood party 2021,Once Upon,False,[party],True
2688,2022 December Lions Club party,December Lions Club,False,[party],True
2793,Summer party 2021,Summer,False,[party],True
3417,Summer party 2021,Summer,False,[party],True
3858,One year wedding celebration!,One,False,[celebration],True
...,...,...,...,...,...
3216454,Cousin’s party 2021,Cousin,False,[party],True
3216911,Chap grad party 2022,Chap,False,[party],True
3217220,Faculty Dance concert 2019-20,Faculty Dance,False,[concert],True
3217795,Mother son event 4-22-22,Mother,False,[event],True
3218166,2017 Agnello Halloween party,Agnello Halloween,False,[party],True

In [ ]:
len(title_matches[title_matches['is_event']])/len(title_matches)

0.0015782045569374815

In [ ]:
len(title_matches['event_keywords'].apply(tuple).notna())/len(title_matches)

1.0

In [ ]:
len(title_matches[title_matches['event_keywords'].notna()])/len(title_matches)

1.0

In [ ]:
location_tags = ['NN', 'NNS', 'NNP', 'NNPS', 'JJ']

location_words = ['city', 'county', 'state', 'country', 'province', 'territory', 'region', 
                  'town', 'village', 'hamlet', 'metropolis', 'municipality', 'district', 'zone', 
                  'neighborhood', 'suburb', 'countryside', 'coast', 'mountains', 'desert', 'island', 
                  'peninsula', 'valley', 'canyon', 'plateau', 'river', 'lake', 'ocean', 'sea', 'bay', 
                  'harbor', 'port', 'airport', 'station']

pattern = r'(\b[A-Z][a-z]+(?:[ -][A-Z][a-z]+)*\b|\b[a-z]+(?:[ -][A-Z][a-z]+)*\b)'

title_matches['location_names'] = title_matches['title'].str.extract(pattern, expand=False)

def is_location(title):
    location_names = re.findall(pattern, title)
    for name in location_names:
        tokens = nltk.word_tokenize(name)
        pos_tags = nltk.pos_tag(tokens)
        if any(tag in location_tags and (word in location_words or 'location' in word or 'place' in word) for word, tag in pos_tags):
            return True
    return False

title_matches['is_location'] = title_matches['title'].apply(is_location)

In [ ]:
len(title_matches[title_matches['location_names'].notna()])/len(title_matches)

0.8536548532819757

In [ ]:
#title_matches.to_csv('/content/drive/MyDrive/data/year_in_title.csv')